body {
	padding-right: 10%;
	padding-left: 10%;

	padding-top: 5%;
	padding-bottom: 5%;

	background-color: #fefefe;
	font-family: Aptos, Arial, sans-serif;
	color: #2e2e2e;
}

p {
	text-align: justify;
	text-align-last: left;
}

a {
	color: #81A2BE;
}

a:hover {
	color: #cc6666;
}

pre {
	background: #ffffff88;
	border: 1px solid black;
	padding: 5px;
	color: #2e2e2e;
	font-family: Monaco, Terminus, monospace;
}

pre > hr {
	margin-bottom: -6px;
}

small {
	color: #808080;
}

.quote {
	border-left: 5px solid #ccc;
	padding-left: 5px;

}
